<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>

<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<div>
    <h2>Menu:</h2>
    <th:block th:each="item : ${menuMap}">
        <a th:href="${item.value}" th:text="${item.key}"></a><br>
    </th:block>
</div>

<br>
<div>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>