<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>

<table border="1"  width="100%">
    <tr>
        <th colspan="2" th:text="${tableTitle}"></th>
    </tr>
    <tr>
        <td><label>Id</label></td>
        <td th:text="${user.getId()}"></td>
    </tr>
    <tr>
        <td><label>Name</label></td>
        <td th:text="${user.getName()}"></td>
    </tr>
    <tr>
        <td><label>Last Name</label></td>
        <td th:text="${user.getLastName()}"></td>
    </tr>
</table>

<br>
<div>
    <a th:href="@{/logout}">Logout</a>
</div>

</body>
</html>